.slideshow-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slideshow{
    margin: 50px auto;
    position: relative;
    width: 30%;
    min-width: 300px;
    height: 240px;
    padding: 10px;
}

.slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.slideshow > div > img {
  width: 100%;
  height: auto;
}

.slideshow-1{
    margin: 50px auto;
    position: relative;
    width: 30%;
    min-width: 300px;
    height: 240px;
    padding: 10px;
}

.slideshow-1 > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.slideshow-1 > div > img {
  width: 100%;
  height: auto;
}


.slideshow-2{
    margin: 50px auto;
    position: relative;
    width: 30%;
    min-width: 300px;
    height: 240px;
    padding: 10px;
}

.slideshow-2 > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.slideshow-2 > div > img {
  width: 100%;
  height: auto;
}
