/** Pure CSS wave effect **/
div.outer-div{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
div.wave{
  margin-top: 50px;
	width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.wave > span > h1 {
  font-size: 100px;
  width: inherit;

}

div.wave > span{
	width: 50px;
  opacity: 0.8%
  min-width: 60px;
  margin: 2px;
	height: 160px;
	animation: animate 1.2s ease-in-out alternate infinite;

}

div.wave > span:nth-child(1){
  color: #4a8cde;
  padding-right: 25px;
}
div.wave > span:nth-child(2){
	color: #f13f2d;
	animation-delay: .2s;
}
div.wave > span:nth-child(3){
	color: rgba(253, 190, 48, 0.85);
	animation-delay: .4s;
}
div.wave > span:nth-child(4){
  color: #4a8cde;
	animation-delay: .6s;
}
div.wave > span:nth-child(5){
  color: #3fa50f ;
	animation-delay: .8s;
}
div.wave > span:nth-child(6){
  color: #f13f2d;
	animation-delay: 1s;
  margin-left: -20px;
}

@keyframes animate{
	/*to { height: 100px; }*/
  to { transform:scaleY(1.4);}
}
